@import 'button.css';
@import 'video.css';

body {
  background-color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
  max-inline-size: 900px;
  margin: auto;
}

.player {
  position: relative;
  margin-block-start: 100px;
}

.player-title {
  color: #fff;
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 20px;
  font-size: clamp(.8rem,2.5vw,1.5rem);
  user-select: none;
}

.player-actions {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.player-progress {
  position: absolute;
  inset-block-end: 1.5rem;
  inset-inline: 0;
  display: flex;
  padding: 20px;
}
.player-progress input {
  flex: 1;
  cursor: pointer;
}

.player-overlay {
  opacity: 0;
  transition: .3s opacity;
}

.player:hover .player-overlay{
  opacity: 1;
}
.player-settings{
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  background-color: rgb(0 0 0 / 62%);
  padding-block: .5rem;
}

.player-settings .player-volume input[type='range'] {
  inline-size: 90px;
  block-size: 6px;
  cursor: pointer;
}

.button-setting {
  background: unset;
  color: rgb(206, 206, 206);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  inline-size: 25px;
  block-size: 25px;
  text-align: center;
}
.button-setting:hover {
  color: #ffffff;
}



body.full-screen {
  margin: 0;
}
body.full-screen .wrapper {
  max-inline-size: 100%;
}
body.full-screen .wrapper .player{
  margin-block-start: 0;
}