@import 'button.css';
@import 'video.css';

body {
  background-color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
  max-inline-size: 900px;
  margin: auto;
}

.player {
  position: relative;
  margin-block-start: 100px;
}

.player-title {
  color: #fff;
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 20px;
  font-size: clamp(.8rem,2.5vw,1.5rem);
  user-select: none;
}

.player-actions {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.player-progress {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  padding: 10px;
}
.player-progress input {
  flex: 1;
  cursor: pointer;
}

.player-overlay {
  opacity: 0;
  transition: .3s opacity;
}

.player:hover .player-overlay{
  opacity: 1;
}